@{
    ViewData["Title"] = "Admin Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<div class="container bg-black" style=" margin: 3rem; padding:100px 0px 100px 0; border-radius:70px">
    <div class="row">
        <div class="col-md-4">
            <div class="p-4 text-center">
                <a class="btn btn-outline-light bg-black text-white" style="font-size:2rem; border-radius:12px" asp-area="" asp-controller="UserDisasters" asp-action="Index">Disasters</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" p-4 text-center">
                <a class="btn btn-outline-light bg-black  text-white" style="font-size:2rem; ; border-radius:12px" asp-area="" asp-controller="UserGoodsDonations" asp-action="Edit">Goods Donations</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-4 text-center">
                <a class="btn btn-outline-light bg-black  text-white" style="font-size:2rem; border-radius:12px" asp-area="" asp-controller="UserMoneyDonations" asp-action="Details">Money Donations</a>
            </div>
        </div>
    </div>
</div>